# After filling in the info, rename this file to "config.sh"

# OpenBench credentials
USERNAME='<unset>'
PASSWORD='<unset>'

# CPU threads and sockets used by OpenBench client; blank = autodetect
THREADS=
SOCKETS=

# OpenBench machine pseudonym (optional)
IDENTITY=

# directory of Syzygy files (optional)
SYZYGY=

# cache directory for builds, networks, etc (optional)
CACHE=

# extra options to OpenBench client (try -h for help)
EXTRA_OPTS=
