# After filling in the info, rename this file to "config.sh"

# OpenBench credentials
USERNAME='<unset>'
PASSWORD='<unset>'

# threads used by OpenBench client; blank = autodetect
THREADS=

# sockets used by OpenBench client; blank = autodetect
SOCKETS=

# directory of Syzygy files (optional)
SYZYGY=

# cache directory for builds, networks, etc (optional)
CACHE=

# extra options to OpenBench client (try -h for help)
EXTRA_OPTS=
